.customized-modify-ai {
  display: flex;
  flex-direction: column;
}

.chat-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 8px;
  padding: 8px;
  height: 40vh;
  margin-bottom: 16px;
}

.chat-message {
  display: flex;
  white-space: pre-wrap;
}

.user-message {
  justify-content: flex-end;
}

.ai-message {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}

.chat-bubble {
  max-width: 60%;
  padding: 8px 12px;
  border-radius: 16px;
}

.user-message .chat-bubble {
  background-color: var(--gray-100);
  color: var(--text-primary);
  border-top-right-radius: 0;
}

.ai-message .chat-bubble {
  background-color: var(--blue-400);
  color: var(--bg-default);
  border-top-left-radius: 0;
}

.chat-input-container {
  display: flex;
  gap: 8px;
}

.chat-input {
  flex-grow: 1;
  width: 100%;
  padding: 8px;
  border: 1px solid var(--border-default);
  border-radius: 4px;
}

.chat-input:hover,
.chat-input:active,
.chat-input:focus {
  border: 1px solid var(--border-secondary);
  outline: none;
}

.send-button {
  padding: 8px 2px;
  background-color: var(--blue-500);
  color: var(--bg-default);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 60px;
}

.save-button-container {
  text-align: center;
}

.check-icon-container {
  display: flex;
  align-items: flex-end;
  position: relative;
  cursor: pointer;
  padding: 4px;
}

.check-icon {
  fill: var(--gray-300);
}

.check-icon:hover {
  fill: var(--green-600);
}

.tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--gray-400);
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 10;
  transition: opacity 0.2s;
  opacity: 0;
  width: 100px;
}

.check-icon-container:hover .tooltip {
  display: block;
  opacity: 1;
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--gray-400) transparent;
}
