.customized-modify-ai {
  display: flex;
  flex-direction: column;
}

.chat-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 8px;
  padding: 8px;
  height: 40vh;
  margin-bottom: 16px;
}

.chat-message {
  display: flex;
}

.user-message {
  justify-content: flex-end;
}

.ai-message {
  justify-content: flex-start;
}

.chat-bubble {
  max-width: 60%;
  padding: 8px 12px;
  border-radius: 16px;
}

.user-message .chat-bubble {
  background-color: var(--gray-100);
  color: var(--text-primary);
  border-top-right-radius: 0;
}

.ai-message .chat-bubble {
  background-color: var(--blue-400);
  color: var(--bg-default);
  border-top-left-radius: 0;
}

.chat-input-container {
  display: flex;
  gap: 8px;
}

.chat-input {
  flex-grow: 1;
  width: 100%;
  padding: 8px;
  border: 1px solid var(--border-default);
  border-radius: 4px;
}

.chat-input:hover,
.chat-input:active,
.chat-input:focus {
  border: 1px solid var(--border-secondary);
  outline: none;
}

.send-button {
  padding: 8px 2px;
  background-color: var(--blue-500);
  color: var(--bg-default);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 60px;
}

.save-button-container {
  text-align: center;
}
