.content-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #f5f5f5;
  border-radius: 12px;
  padding: 16px;
  background-color: var(--gray-100);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease;
  max-width: 100%;
  gap: 12px;
  margin: 12px;
  cursor: pointer;
  height: 150px;
}

.content-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
/* Apply color change on hover to title and description only */
.content-card:hover .content-card__title,
.content-card:hover .content-card__description {
  color: var(--blue-500);
}

.content-card__image-container {
  flex-shrink: 0;
}

.content-card__image {
  width: 6rem;
  height: 6rem;
  border: 1px solid var(--border-default);
  border-radius: 10%;
  background-color: var(----background);
  object-fit: cover;
}

.content-card__details {
  flex: 1;
  width: calc(100% - 6rem - 12px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content-card__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-card__title {
  margin-bottom: 8px;
}

.content-card__button-copy {
  position: relative;
  background-color: inherit;
  color: var(--text-secondary);
}
.content-card__button-copy:hover {
  color: var(--text-primary);
}
.tooltip {
  display: none;
  position: absolute;
  top: 140%;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  background-color: var(--gray-400);
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip.visible {
  display: block;
  opacity: 1;
}
.tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--gray-400) transparent;
}

.content-card__description {
  max-height: 84px;
  overflow: hidden;
  font-size: 0.9em;
  color: var(--text-secondary);
  line-height: 1.5;
}

.copy-icon {
  opacity: 0.1;
  cursor: pointer;
}

.copy-icon:hover {
  opacity: 1;
}
