.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 16px;
  height: 40px;
  border-bottom: 1px solid var(--border-default);
}

.header_button-back {
  display: inline-flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  margin-right: 0.5rem;
  cursor: pointer;
  width: auto;
}
