.menu-bar {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 100vh;
  position: fixed;
  left: 0;
  margin: 12px 0;
  border-top: var(--sds-size-stroke-border) solid
    var(--sds-color-border-default-default);
  background: var(--sds-color-background-default-default);
}

.menu-bar__menu {
  display: flex;
  flex-direction: column;
  width: 20vw;
  justify-content: center;
  align-items: center;
}

.menu-bar_menu-text {
  font-size: 1rem;
}

@media (max-width: 480px) {
  .menu-bar {
    justify-content: space-between;
    flex-direction: row;
    height: 80px;
    width: 100vw;
    bottom: 0;
  }
}
