.search-bar-container {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: stretch;
  position: sticky;
  top: 65px;
  background-color: var(--bg-default);
  width: 100%;
  padding: 12px;
}

@media (max-width: 480px) {
  .search-bar-container {
    flex-direction: column;
    align-items: end;
  }
}

.message-list {
  margin-top: 16px;
}
