.button-group {
  margin-top: auto;
  display: flex;
  gap: 16px;
  padding: 8px;
  position: sticky;
  bottom: 0;
  background-color: var(--bg-default);
  border-top: 1px solid var(--border-default);
}

.button {
  width: 100%;
  border-radius: 16px;
  padding: 10px;
  background-color: var(--bg-default);
  border: 1px solid var(--border-default);
  color: var(--text-default);
  transition: scale 0.2s;

  &.primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-light);
  }

  &.delete {
    background-color: var(--red-700);
    border-color: var(--red-700);
    color: var(--text-light);
  }

  &:active {
    scale: 0.98;
  }
}
