.sub-button {
  max-width: 70px;
  outline: none;
}

.text-collection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: calc(100% - 32px);
  margin: 12px 16px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
  align-items: center;
}

.text-input {
  flex-grow: 1;
  min-width: 0;
  padding: 10px;
  outline: none;
  border-radius: 12px;
  border: 1px solid var(--gray-200);
  background-color: var(--gray-100);
}

.text-input:focus {
  border: 1px solid var(--blue-200);
  background-color: var(--blue-100);
}
