.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  padding: 5px 10px;
  width: 100%;
  max-width: 400px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 5px;
}

.search-icon {
  width: 20px;
  height: 20px;
  color: var(--gray-500);
  cursor: pointer;
}

.search-icon:hover {
  color: #333;
}
