.field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 12px;
}

.label {
  color: var(--text-secondary);
}

.memo {
  min-height: 7em;
  border-radius: 12px;
  padding: 8px 12px;
  resize: vertical;
}
