.sort-dropdown {
  width: 8rem;
  display: inline-block;
  cursor: pointer;
  outline: none;
}

.sort-dropdown-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  background-color: var(--bg-default);
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  outline: none;
}

.sort-dropdown-content {
  width: 8rem;
  border: 1px solid var(--border-default);
  border-radius: 10px;
  outline: none;
  overflow: hidden;
}

.sort-dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  border-bottom: 1px solid var(--gray-200);
  background-color: var(--bg-default);
}

.sort-dropdown-item:hover {
  background-color: var(--blue-100);
}

.sort-dropdown-item:last-child {
  border-bottom: none;
}
